<div ng-controller="ListController">
	<div id="confirmation-modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Atenção</h4>
				</div>
				<div class="modal-body">
					<p>Confirma a remoção do cliente?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary" ng-click="deleteCustomer()">Deletar</button>
				</div>
			</div>
		</div>
	</div>
	<div id="deleted-modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Sucesso</h4>
				</div>
				<div class="modal-body">
					<p>O Cliente foi removido com sucesso</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
				</div>
			</div>
		</div>
	</div>
	<div class="page-header"> 
		<p><a href="#/customer/new" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Cliente</a></p>
	</div>
	<div class="row table-responsive">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Email</th>
					<th>Senha</th>
					<th>Endereco</th>
					<th>Cidade</th>
					<th>Estado</th>
					<th>A&ccedil;&atilde;o</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="customer in customers">
					<td>{{customer.name}}</td>
					<td>{{customer.email}}</td>
					<td>{{customer.password}}</td>
					<td>{{customer.address}}</td>
					<td>{{customer.city}}</td>
					<td>{{customer.country}}</td>
					<td>
						<a class="btn btn-warning" ng-click="onDeleteBtnClickedHandler(customer)"><span class="glyphicon glyphicon-trash"></span> Deletar</a>
						<a href="#/customer/edit/{{customer.id}}" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Editar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>